/* =========================================================================
   Typography (Base Styles)
   ========================================================================= */

html {
  font-family: Catamaran, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

p {
  line-height: 1.5em;
}

code,
pre {
  font-family: Inconsolata, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0;
}

/* Composites
   ========================================================================= */

.heading {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0;
}
