.navigation {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
}

.sidebar {
  z-index: 9;
  position: absolute;
  top: 0;
  left: 50px;
  bottom: 0;
  width: 400px;
}

.map {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50px;
  right: 0;
  bottom: 0;
}
