/*
*= require bootstrap_cerulean.min
*= require bootstrap-slider.min
*= require ol
*=
*= require map
*/


#aboutDialog .modal-content {
	background-image: url('beachfront.jpg');
	background-position:left bottom;
	background-size:cover;
	color: white;
}
#aboutDialog h4 { color: white; }


body { overflow: hidden; } 
