.ol-full-screen {
	left: 0.5em;
	right: auto;
	top: 90px;
}

.ol-mouse-position {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0.5em;
	color: white;
	cursor: pointer;
	left: 0.5em;
	right: auto;
	top: auto;
}

.ol-rotate, .ol-rotate.ol-hidden {
	left: 0.5em;
	opacity: 1;
	right: auto;
	top: 60px;
	visibility: visible;
}
