.root {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 5px rgba(0,0,0,.1);
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

/* =========================================================================
   Button
   ========================================================================= */

.button {
  display: flex;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0, .13);
  line-height: inherit;
  text-align: left;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

.button label,
.button span {
  padding: 0 .5em;
  cursor: inherit;
  color: inherit;
}

.button label {
  flex-grow: 1;
}

.button svg {
  height: 1em;
  margin-right: .25em;
  vertical-align: middle;
  fill: currentColor;
}

.button span {
  border-left: 1px solid rgba(0,0,0,.2);
}

/* =========================================================================
   Options
   ========================================================================= */

.options {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.isOpen .options {
  display: block;
}

.options li {
  padding: .25em;
  margin: 0;
  cursor: pointer;
  text-indent: 1.75em;
}

.options :hover {
  background-color: #d9f1ff;
  color: #175b82;
}

.options li + li {
  margin-top: 1px;
}

.active,
.active:hover {
  background-color: #175B82;
  color: white;
  font-weight: bold;
}
