.root {
  composes: submenu from '../styles/menus.css';
}

.placeholder {
  padding: 1em;
  text-align: center;
}

.placeholder h3 {
  margin: 5em 0 8em;
  font-size: 18px;
}

.root li + li {
  margin-top: 30px;
}
