.minimap {
  position: relative;
  height: 200px;
}

.root h3 {
  margin-top: 15px;
  padding: 5px 15px;
  font-size: inherit;
  color: inherit;
}

.controls {
  text-align: center;
}

.field {
  composes: field-normal from '../styles/forms.css';
}
