.root {
  composes: submenu from '../styles/menus.css';
}

.header {
  composes: submenu-header from '../styles/menus.css';
}

.communicationDown {
  background-color: #f04;
  color: white;
  padding: 1.5em .5em;
  text-align: center;
}
