.root {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.slider {
  flex: 1;
  margin: 0 1em;
  height: 1em;
  cursor: pointer;
}

.bar {
  top: calc(.5em - 2px);
  height: 2px;
  background-color: #ccc;
}

.puck {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: currentColor;
}

.slider:hover .puck {
  background-color: black;
}

.value {
  position: absolute;
  bottom: 150%;
  left: 50%;
  display: none;
  background-color: black;
  color: white;
  padding: .3em .5em;
  line-height: 1em;
}

.value:before {
  content: '';
  position: absolute;
  bottom: -.5em;
  left: 0;
  border-left: .5em solid black;
  border-bottom: .5em solid transparent;
}

.slider:hover .value {
  display: block;
}
