@import '../styles/base/layout.css';

.root {
  composes: navigation from '../styles/common/layout.css';
  background-image: linear-gradient(to bottom, #54b4eb, #2fa4e7 60%, #1d9ce5);
  border-right: 1px solid #178acc;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0, .2);
}

.root ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: stretch;
}

.root li {
  margin: 0;
  padding: 0;
}

.banner {
  color: inherit;
  font-weight: bold;
  font-size: 20px;
}

.root a {
  display: block;
  line-height: 50px;
  padding: 0 .5em;
  color: inherit;
  text-decoration: none;
}

.root a:hover {
  background-color: rgba(0,0,0,.1);
}
