.root {
  composes: map from '../styles/common/layout.css';
}

.search {
  composes: global(ol-unselectable) global(ol-control);
  z-index: 2;
  position: absolute;
  top: 3em;
  right: .5em;
}

.export {
  composes: global(ol-unselectable) global(ol-control);
  z-index: 2;
  display: inline-block;
  position: absolute;
  top: .5em;
  right: 3em;
}

.export a {
  display: block;
  margin: 1px;
  padding: 0;
  color: #fff;
  font-size: 1.14em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  vertical-align: text-bottom;
  line-height: 1.5em;
  background-color: rgba(0,60,136,.5);
  border: none;
  border-radius: 2px;
}

.export a:hover {
  text-decoration: none;
  background-color: rgba(0,60,136,.7);
}

.basemaps {
  /*z-index: @Z_PRIMARY_MAP + 1;*/
  list-style: none;
  position: absolute;
  bottom: 35px;
  right: 10px;
  width: 100px;
  margin: 0;
  padding: .5em;
  background-color: white;
  opacity: .3;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 5px rgba(0,0,0,.1);
}

.basemaps:hover {
  opacity: 1;
}

.basemaps li {
  padding: .25em;
  margin: 0;
  cursor: pointer;
  text-align: right;
  border-radius: 3px;
}

.basemaps li + li {
  margin-top: .5em;
}

.basemaps .active {
  background-color: #175B82;
  color: white;
  font-weight: bold;
}

/* =========================================================================
   OpenLayers Control Overrides
   ========================================================================= */

:global(.ol-scale-line) {
  background-color: transparent;
  bottom: 28px;
}

:global(.ol-scale-line-inner) {
  opacity: .5;
  border-color: inherit;
  color: black;
  /*font-family: @FontMonospace;*/
}

:global(.ol-attribution.ol-uncollapsible) {
  height: 1.5em;
  border-radius: 3px 0 0;
  line-height: inherit;
  /*font-family: @FontBody;*/
  font-size: 11px;

}

:global(.ol-attribution.ol-uncollapsible) ul {
  font-size: inherit;
  line-height: 1.2em;
}

:global(.ol-mouse-position) {
  top: auto;
  right: auto;
  bottom: 10px;
  left: 10px;
  line-height: 11px;
  color: black;
  opacity: .4;
  /*font-family: @FontMonospace;*/
  font-size: 11px;
}
