html {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 12px;
}

p {
  line-height: 1.5em;
}

code,
pre {
  font-family: Menlo, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
